
body {
	display: grid;
	grid-template-rows: auto 1fr auto;

	//margin: 0;
	//padding: 0;
	//overflow: hidden;

	min-height: 100dvh;
	max-width: 1024px;

	margin: auto;
}

header, footer {
	padding: 10px;

	background: lightgray;
}

footer {
	text-align: right;
}

main {
	overflow-x: hidden;
}

page {
	display: block;
	max-width: 1024px;
	margin: auto;
	padding: 10px;
}

.wide {
	overflow-x: scroll;
}

.cell {
	background: #f2f2f2;
}
